/*Des Selector*/
main p{
    color:red;
}

/*Child Selector*/
h1>p{
    color:blue;
}

/*Adj Selector*/
/*section+p{
    color:blue;
}*/
section~p{
    color:aqua
}

[target="_blank"]{
   color:blue;
   text-decoration: none;
}

[alt~="Anu"]{
    background-color: green;

}